*{
    margin: 0;
    padding: 0;
}
body {
    font-family: Ubuntu;

    }

/* div del menú */  
#nav_drawer {
    height: 100%;
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(87.61deg, #BDE0FE, rgba(189, 224, 254, 0.1));
    overflow-x: hidden;
    padding-top: 20px;
    }

/* Características comunes a todos los botones */ 
button{
    margin: auto;
    width: 240px;
    padding: 10px 20px;
    font-size: 25px;    
    text-align: center;
    display: block;
}

/* Botón de Registro */
#buttonreg_nav{
    margin-top: 50px;
    background-color: #0077B6;
    border: 2px solid #0077B6;
    color: #FFFFFF;
    text-decoration: underline;

    }
    
/* Efecto hover sobre botón de registro */ 
#buttonreg_nav:hover{
    margin-top:50px ;
    background-color: green;
    border: 2px solid green;
    color: #FFFFFF;
    cursor: pointer;
    }

/* Otros botones del menú */
.btn-opcional{
    margin-top:50px ;
    background: none;
    border: none;
    color: #0077B6;
    text-decoration: underline;

}

/* Efecto hover sobre los botones opcionales del menú */ 
.btn-opcional:hover {
    margin-top:50px ;
    background: green;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    }

#header {
    text-align: center;
    height: 50px;
    background: linear-gradient(359.44deg, #0077B6 -11.76%, rgba(11, 37, 69, 0) 108.66%);

}
.Encabezado{

    margin-left: 318px;
    position:center;
    height: 50px;
}
.main {
    margin-left: 320px; 
    height: 100%;
    
    }

    .Content_Form{

        position: absolute;
        margin-left: 318px;
        height: 550px;
        width: 1035px;;
        display:flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(0deg, #BDE0FE -14.22%, rgba(189, 224, 254, 0.1) 111.35%);
    }

.Registro{

        color: white;
    }

#General{
    width: 1360px;
    height:594px;
    background-color:green;
}

#nav_drawer2{
    margin-top: 0px;
    width: 300px;
    height: 500px;
}


   #ContentMain{
        background: whitesmoke;
        margin-left: 320px;
        width: 76%;
        padding: auto;
    
    }

.header{
        background: linear-gradient(359.58deg, #0077B6 -25.87%, rgba(11, 37, 69, 0) 153.32%);
        height: 10%;
        border-radius: 10px; 
        
        
    }

    #Titulo{
        margin: block;
    }

    #formRegistro{
        margin-top:2%;
        border-radius: 10px;
        background: linear-gradient(359.58deg, #0077B6 -25.87%, rgba(11, 37, 69, 0) 153.32%);
    
        display: flex;
        flex-direction:column;
        border: none;
        
        
        
    }

    .Title{
        padding: 20px;
        text-align: center;
        position:center;
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        color:whitesmoke;
    }

    .Content-campos{

        position:center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction:column;
        font-size: 20px;
        
    }

    
    .Btn_form{
        
        background-color: #ecf028;
        color:rgb(246, 248, 250);
        padding:1rem,3rem;
        margin: 3rem;
        font-size: 2rem;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 0.5rem;
        width:70%;
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        border: none;
        
    }

    .Btn_form:hover {
        
        background: green;
        border: none;
        color: #FFFFFF;
        cursor: pointer;
        }

    .BTN{

        margin-left: 180px;
        
        
    }
    .input-text{

        width:50%;
        font-size: .9em;
        text-align: left;
        border: 0px;
        
    }


.more{
    border: 1px;
    padding-top: 1px;
    width: 200px;
    transition-duration: 0.4s;
}
.more:hover{
        background-color: #4CAF50; /* Green */
        color: white;
        cursor: pointer;
}
footer {
    height: 50px;
    text-align: center;
    padding: 20px;
    margin-top: 20px;


}
#imagen_encabezado{
    margin-left: 320px;
    margin-bottom: 20px;
    width: 76%;
    background: linear-gradient(359.58deg, #0077B6 -25.87%, rgba(11, 37, 69, 0) 153.32%);
}
table{
    margin:auto;
    margin-bottom: 20px;
}
.info{
    margin-left: 300px;
}

li{
    list-style: none;
}
h1{
    text-align: center;
}
h3{
    margin-bottom: 10px;
}
