body {
    font-family: Ubuntu;
    }

/* div del menú */  
#nav_drawer {
    height: 100%;
    width: 320px;
    position: fixed;
    top: 0;
    left: 0;
    background: linear-gradient(87.61deg, #BDE0FE, rgba(189, 224, 254, 0.1));
    overflow-x: hidden;
    padding-top: 20px;
    }

/* Características comunes a todos los botones */ 
button{
    margin: auto;
    width: 240px;
    padding: 10px 20px;
    font-size: 25px;    
    text-decoration: underline;
    text-align: center;
    display: block;
}
  
/* Botón de Registro */
#buttonreg_nav{
    margin-top:60px ;
    background-color: #0077B6;
    border: 2px solid #0077B6;
    color: #FFFFFF;
    }
     
/* Efecto hover sobre botón de registro */ 
#buttonreg_nav:hover{
    margin-top:60px ;
    background-color: green;
    border: 2px solid green;
    color: #FFFFFF;
    }

/* Otros botones del menú */
.btn-opcional{
    margin-top:50px ;
    background: none;
    border: none;
    color: #0077B6;
}

/* Efecto hover sobre los botones opcionales del menú */ 
.btn-opcional:hover {
    margin-top:50px ;
    background: green;
    border: none;
    color: #FFFFFF;
    }



header {
    text-align: center;
    padding: 20px;
    margin: 20px;
}
.main {
    margin-left: 320px; 
    }

